@model MyCms.DomainClasses.Skills.Skills

@{
    ViewData["Title"] = "Create New Skill";
}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Create New Skill...</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="SkillsTitle" class="control-label">SkillsTitle :</label>
                            <input asp-for="SkillsTitle" class="form-control" value="" />
                            <span asp-validation-for="SkillsTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SkillsDescription" class="control-label">SkillsDescription :</label>
                            <textarea asp-for="SkillsDescription" rows="5" class="form-control"></textarea>
                            <span asp-validation-for="SkillsDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BootstarpClassName" class="control-label">BootstarpClassName :</label>
                            <input asp-for="BootstarpClassName" class="form-control" />
                            <span asp-validation-for="BootstarpClassName" class="text-danger"></span>
                            <a asp-action="Index" asp-area="AdminPanel" asp-controller="TemplateBootstrap"> Show More Icon Or class name </a>
                        </div>
                        <div class="form-group">
                            <label asp-for="Progress" class="control-label">Progress :</label>
                            <input asp-for="Progress" type="number" class="form-control" />
                            <span asp-validation-for="Progress" class="text-danger"></span>
                        </div>

                    <div class="form-group dropdown ">
                        <label asp-for="Status" class="control-label">Status         : </label>
                        <br />
                        @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                       { new SelectListItem{Text="Enable", Value="True"},
                         new SelectListItem{Text="Disable", Value="False"}})
                    </div>
                        <div class="form-group dropdown ">
                            <label asp-for="Status" class="control-label">Languge: </label>
                            <br />
                            @Html.DropDownListFor(m => m.Languge, new List<SelectListItem>
                           { new SelectListItem{Text="Persian", Value="0"},
                             new SelectListItem{Text="English", Value="1"},
                             new SelectListItem{Text="German", Value="2"}})
                        </div>

                        <div class="form-group">
                            <hr />
                            <input type="submit" value="Create" class="btn btn-success" />
                            <a asp-action="Index" class="btn btn-success">Back to List</a>

                        </div>
                    </form>
                </div>
            </div>
            </div>

        </div>

            @*@section Scripts {
                        @{await Html.RenderPartialAsync("AdminPanel");}
                        }*@
